{% extends "base.html.twig" %}
{% block title %}AgendA - Couleur
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-4 mt-4">
				<div class="card bg-primary p-3">
					<h4>Couleur entretien sur calendrier</h4><hr>
					{{ form_start(form) }}
					{{ form_row(form.backgroundcolor) }}
					{{ form_row(form.textcolor) }}
					{{ form_row(form.entretien, {'attr': { 'disabled': ""}}) }}
					<hr>
					<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
