{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %}AgendA - Modifier Entretien
{% endblock %}

{% block body %}

	<div class="container">

		<div class="row justify-content-md-center">

			<div class="col col-lg-4 mt-4">
				<div class="card bg-secondary p-3">
					<h4 style="text-align: center">Modifier entretien</h4><hr>
					{{form_start(form)}}
					{{ form_row(form.date) }}
					{{ form_row(form.heure) }}
					{{ form_row(form.lieu) }}
					{{ form_row(form.candidat, {'attr': { 'disabled': ""}})}}
					<hr>
					<button type="submit" class="btn btn-primary col-12">Modifier →</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
